head
    link(rel="stylesheet", href="../css/write.css")

include partials/header.pug
    
.contents
    .contents_container
        .writeArea
            form(action="/board/write" method="post" onsubmit="return confirm('게시글을 저장하시겠습니까?')")
                .write_title
                    p 제목
                    input(type="text" name="title" placeholder="제목을 입력하세요")
                .write_attachFile
                    div 파일(미완성)
                .write_board
                    textarea(type="text" name="contents")
                input(type="submit")


script(src="/static/controll.js")