head
    link(rel="stylesheet", href="css/header.css")
    link(rel="stylesheet", href="../css/header.css")
    link(rel="stylesheet", href="../../css/header.css")

header.header
    .header_container
        .header_menuBar
            div
            div
            div
        .header_logo
            a(href="/")
                h1 community
        .header_menus
            .loginMenu
                button 로그인
            //- .option
            //-     button 옵션